// typography

$font-family: Arial, Helvetica, sans-serif;
$h1: 45px;
$h2: 40px;
$h3: 30px;
$h4: 25px;
$h5: 20px;
$p: 16px;
$weight-400: lighter;
$weight-500: 500;
$weight-bold: bold;

// colors

$blue: #04e2ff;

$purple: #9e30ff;

$black: #000;
$black-100: #393939;

$gray: #ababab;
$gray-100: #efefef;
$gray-200: #dedede;

$green: #0bbba1;
$green-100: #068773;

$white: #fff;
$white-100: #eeeeee;
$white-200: #fefefe;

$yellow: #ffd500;
$yellow-100: #edc500;