.about-cognitive {
    background-color: $purple;
    margin: 0;

    p {
        width: 550px;
    }
}

.about-video {
    width: 400px;
    height: 220px;
    padding: 15px;
    background-color: $black-100;
    position: relative;

    p {
        font-weight: 500;
        width: auto;
    }

    li:nth-last-of-type(1) {
        padding: 2px 4px;
        border: 2px solid $white-200;
        border-radius: 50%;
        position: absolute;
        top: 90px;
        left: 160px;
        cursor: pointer;
    }
}