.forum {
    padding: 50px 100px;

    h2 {
        padding-bottom: 50px;
    }

    table {
        width: 1030px;
        border-collapse: collapse;
        margin-bottom: 50px;

        td,
        th {
            border: 1px solid $gray-200;
            padding: 20px 10px;
        }

        img {
            padding-right: 10px;
            vertical-align: -2px;
        }
    }


}